.button {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 190px;
  height: 190px;
  border-radius: 50%;

  border: 1px solid $color-primary;
  background: transparent;
  cursor: pointer;

  transition: background .3s ease,
  box-shadow .3s ease,
  border-color .3s ease,
  transform .2s ease;

  &__name {
    font-size: $fz-20;
    font-weight: $font-regular;
    color: $color-primary;
    transform: translateX(-20px);
    transition: color .3s ease;
  }

  &__arrow {
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    background: $color-primary;
    border-color: transparent;
    box-shadow: 0 4px 50px 0 $primary-60;

    .button__name {
      color: white;
    }

    .button__arrow {
      filter: brightness(0) invert(1);
    }
  }

  &:focus {
    outline: none;
  }
}
