.button {
  display: flex;
  max-width: 150px;
  width: 100%;
  padding: 14px;
  align-items: center;
  gap: 10%;
  border: 1px solid $color-primary;
  transition: background .3s ease-in-out;

  &__name {
    font-size: $fz-14;
    font-weight: $font-regular;
    color: $color-primary;
  }

  &__arrow {
    max-width: 30px;
    width: 100%;
  }

  &:hover {
    background: $color-primary;
    border-color: transparent;
    box-shadow: 0 4px 10px 0 $primary-40;

    .button__name {
      color: white;
    }

    .button__arrow {
      filter: brightness(0) invert(1);
    }
  }

  &:focus {
    outline: none;
  }
}