.navigation {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 278px;
  width: 100%;
  background-color: $black-90;
  display: flex;
  flex-direction: column;
  gap: 6px;

  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease-in-out;

  &__image {
    max-width: 118px;
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 20px;
  }

  &__item {
    font-size: $fz-14;
    font-weight: $font-regular;
    color: $white-soft;
  }

  &__open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}