.container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

.title {
  font-size: $fz-40;
  font-weight: $font-light;
  color: $black-90;

  &__accent {
    align-self: flex-end;
    transform: translate(110px, -20px);
    font-family: $family_secondary;
    font-size: $fz-40;
    font-weight: $font-light;
    color: $color-primary;
  }
}