.content {
  display: flex;
  flex-direction: column;

  &__row {
    display: grid;
    grid-template-columns: repeat(4, minmax(136px, 184px));
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 100px;


    &:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__item {
    max-width: 184px;
    position: relative;

    &_circle {
      justify-content: flex-end;
      display: flex;
    }

    &_text {
      font-size: $fz-14;
      font-weight: $font-light;
      color: $gray-7d;
    }

    &:first-child .content__item_circle {
      transform: translate(-45px, -10px);
    }

    &:nth-child(3) .content__item_circle {
      transform: translate(30px, -55px);
    }

    &:nth-child(5) {
      grid-column: 1 / 3;
      justify-self: center;

      .content__item_circle {
        transform: translate(15px, -15px);
      }
    }

    &:nth-child(6) {
      grid-column: 3 / 5;
      justify-self: center;

      .content__item_circle {
        transform: translate(5px, -50px);
      }
    }
  }
}


