// Primary
$color-primary: #514A7E;

// Secondary / Accent
$color-accent-green: #1FA68E;
$color-accent-pink:  #DC39CC;
$color-accent-yellow: #FFF385;
$color-accent-red: #A61F1F;
$color-accent-blue: #296297;
$color-accent-green-dark: #3D7B52;
$color-accent-yellow-dark: #EAD943;

// Blacks
$black-100: #000000;
$black-90:  #121212;
$black-80:  #111111;
$black-70:  #333333;

// Whites
$white: #FFFFFF;
$white-soft: #FFFDF5;
$gray-eee: #CCCCCC;
$gray-c4:  #C4C4C4;
$gray-7d:  #7D7D7D;

// RGB
$black-20: rgba(0, 0, 0, 0.2);
$primary-60: rgba(81, 74, 126, 0.6);
$primary-40: rgba(81, 74, 126, 0.4);
$primary-20: rgba(81, 74, 126, 0.2);
$white-40: rgba(255, 253, 245, 0.4);
