@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// font-families
$family_main: "Roboto", sans-serif;
$family_secondary: "Bad Script", cursive;;

// font-widths
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

// font-sizes
$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-28: 28px;
$fz-32: 32px;
$fz-36: 36px;
$fz-40: 40px;
$fz-60: 60px;

