.button {
  width: 72px;
  height: 72px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $color-primary;
  box-shadow: 0 4px 10px 0 $primary-40;
  transition: 0.3s ease-in-out;

  &:hover {
    scale: 1.17;
  }
}