.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: $fz-20;
    font-weight: $font-regular;
    color: $white-soft;
  }

  &__links {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    &_item {

    }
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 10px;

    &_text {
      font-size: $fz-12;
      font-weight: $font-light;
      color: $white-soft;
    }
  }
}