.item {
  padding: 44px 24px;
  background-color: $white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  max-width: 460px;
  gap: 50px;

  &__image {
    max-width: 94px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  }

  &__text {
    font-size: $fz-12;
    color: $gray-7d;
    font-weight: $font-light;
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 116px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_name {
    color: $black-90;
    font-size: $fz-12;
    font-weight: $font-regular;
  }

  &_time {
    color: $color-primary;
    font-size: $fz-12;
    font-weight: $font-regular;
  }
}